input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-moz-clear {
  display: none;
}

.detail_wrapper {
  label {
    font-weight: bold;
  }

  .detail_task-name {
    margin-bottom: 24px;

    input {
      width: 100%;
      border-radius: 4px;
      padding: 12px;
      border: 1px solid #cdcdcd;

      box-sizing: border-box;

      &:focus-visible {
        outline: none !important;
        //-webkit-box-shadow: 0px 0px 50px -5px #40C7FF;
        //box-shadow: 0px 0px 50px -5px #40C7FF;
      }
    }

    .invalid {
      border: 2px solid #e70707;
      animation: invalid 0.2s 2;
    }

    @keyframes invalid {
      25% {
        translate: 6px 0;
      }
      50% {
        translate: -6px 0;
      }
      25% {
        translate: 6px 0;
      }
    }
  }

  .detail_task-description {
    margin-bottom: 24px;

    textarea {

      width: 100%;
      border-radius: 4px;
      border: 1px solid #cdcdcd;

      padding: 12px;

      box-sizing: border-box;

      &:focus-visible {
        outline: none !important;
      }
    }
  }

  .detail_task-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    .task_option-due-date {
      flex: 1;

      input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #cdcdcd;
        padding: 12px;

        &:focus-visible {
          outline: none !important;
        }

        &::-webkit-calendar-picker-indicator {
          width: 20px;
          height: 20px;
          border-left: 1px solid #cdcdcd;
          padding-left: 12px;
        }
      }
    }

    .task_option-priority {
      flex: 1;

      select {
        width: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #cdcdcd;
        padding: 16px;

        &:focus-visible {
          outline: none !important;
        }

      }

      select option {
        font-size: 16px;
        background-color: #FFF;
        color: #333;
        padding: 5px;
      }
    }
  }

  .form-action {
    margin: 16px 0px;

    border: none !important;
    border-radius: 4px;
    padding: 12px;
    color: #FFFFFF;
    //width: 10em;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.99);
    }

    width: 100%;
    background-color: #05b348;
  }
}
