.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .task_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    padding: 24px 24px 0px 24px;

    .task_container-label {
      font-size: 24px;
      font-weight: bold;

      margin-bottom: 32px;
    }
  }
}

::ng-deep.p-error {
  color: #fa4d4d;
}


::ng-deep .btn-disable {
  opacity: 0.7;

  &:active {
    transform: unset !important;
  }
}
